body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #87a0ce;
    margin: 0;
/* COLOR DE FONDO */
background: #4b6cb7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.container {
    text-align: center;
    background: rgb(152, 182, 194);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
}

.logo {
    width: 0px;
    margin-bottom: 10px;
}

h1 {
    margin-bottom: 20px;
}

#questionContainer, #resultContainer {
    margin-bottom: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

#resultMessage {
    font-size: 18px;
    font-weight: bold;
}

.varela-round-regular {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  

  
  @import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Varela+Round&display=swap');
  
  .dotgothic16-regular h1 {
    font-family: "DotGothic16", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  